@import './nomalize.css';
@import './font-awesome.min.css';
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font:14px "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
a{
  text-decoration: none;
  color:#666;
}
.img-responsive {
  width:100%;
  height:auto;
  display: block;
}
.red{
  color:red;
}
.ml10px{
  margin-left:10px !important;
}
.mr10px{
  margin-right:10px;
}
.mt10px{
  margin-top:10px;
}

div.el-table{
  font-size:12px;
  min-height: 200px;
}
/* 表头背景色 */
.el-table thead th{
  background: #E2E5EC;
}
/* 侧边栏剪头  */
.nav-aside .el-submenu__icon-arrow{
  right:50px;
}
div.el-dialog__body{
  padding-top:5px;
}
/* 面包屑title */
.bread-title{
  text-indent: 1em;
  margin-top:0;
  padding-top:8px;
  margin-bottom:5px;
}