@import 'nomalize.css';
@import 'font-awesome.css';
@import 'media.css';
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
html,
body {
  font: 13px "Helvetica Neue", "微软雅黑", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  font-weight: 500;
  height: 100%;
}
a {
  text-decoration: none;
  color: #666;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b5b7bb !important;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b5b7bb !important;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b5b7bb !important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b5b7bb !important;
}
.fr {
  float: right;
}
.pr30px {
  padding-right: 30px;
}
.img-responsive {
  width: 100%;
  height: auto;
  display: block;
}
.red {
  color: red;
}
.block {
  display: block;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ml10px {
  margin-left: 10px !important;
}
.mr10px {
  margin-right: 10px;
}
.mt10px {
  margin-top: 10px;
}
.mt-10px {
  margin-top: -10px;
}
.mb10px {
  margin-bottom: 10px;
}
/*组件容器样式*/
.component-bar-container {
  min-height: calc((100% - 30px)) !important;
}
.component-container {
  padding: 15px;
  min-height: calc((100% - 130px));
  background: #fff;
}
.child-component-container {
  padding: 15px;
  width: calc((100% - 30px));
  min-height: calc((100% - 30px));
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}
.call-container {
  background: #f7f7f7;
  padding: 0;
}
div.el-table {
  font-size: 13px;
}
.el-table thead {
  color: #5a5b5e;
}
/* 表头背景色 */
.el-table thead th {
  background: #E2E5EC;
}
.table-width {
  width: 100%;
  margin-top: 10px;
}
/* 侧边栏剪头  */
.nav-aside .el-submenu__icon-arrow {
  right: 50px;
  top: calc((50% + 2px));
}
.el-submenu__title {
  padding-left: 10px !important;
}
.home-title {
  padding-left: 10px !important;
}
div.el-dialog__body {
  padding-top: 5px;
}
/* 面包屑title */
.bread-title {
  text-indent: 1em;
  margin-top: 0;
  padding-top: 2px;
  margin-bottom: 5px;
}
.check-title {
  margin: 2px 0 15px;
  color: #E6A23C;
}
/* input的apend或prepend文字pandding */
.el-input-group__append,
.el-input-group__prepend {
  padding: 0 10px;
}
/* background: rgba(0,0,0,0.2) */
.xsbtn.el-button {
  padding: 5px 8px;
}
.line {
  border-top: 1px solid #dfdcdc;
  padding-bottom: 5px;
}
.page {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
.is-disabled input,
.is-disabled span,
.is-disabled textarea {
  color: #7a7c81 !important;
}
.tipfont {
  font-size: 12px;
  line-height: 16px;
}
.el-card__body {
  padding: 2px 10px;
}
.el-icon-phone {
  font-size: 18px;
  color: green;
  cursor: pointer;
}
.el-table__footer-wrapper tbody td {
  color: #df4747;
}
.export {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 30px;
}
.input-btn {
  width: calc((100% - 65px));
}
.contact-phone {
  width: calc((100% - 41px));
}
.a-search-number {
  text-decoration: underline;
  color: #06c;
}
.title button.title-btn {
  border-radius: 3px;
  border-top-right-radius: 15px;
}
.weight-label label.el-form-item__label {
  font-weight: 600;
  font-size: 13px;
}
.weight-label .el-form-item__content {
  font-size: 13px;
}
.weight-label .el-form-item {
  margin-bottom: 0 !important;
}
