@media (max-width: 1200px) {
  #iframe-call {
    height: 90px;
  }
}
@media (min-width: 1450px) {
  div.el-table {
    font-size: 13px;
  }
}


@media screen and (max-width: 768px) {
  #m-bread,
  #down-client,
  #help-doc,
  #full-screen,
  #user-name {
    display: none;
  }
  #nav-aside {
    width: 0 !important;
    position: fixed;
  }
  #nested {
    left: 10px;
  }
  #app .con-bottom #main {
    padding: 5px 2px;
  }
  #my-header{
    .logo-img{
      width:0;
    }
  }
  .media-padding{
    padding: 5px 5px !important;
    width: calc(~"(100% - 10px)") !important;
    min-height: calc(~"(100% - 10px)") !important;
  }
  .el-dialog{
    width:99% !important;
  }
  .el-message{
    width:90%;
    top: 50px;
  }
  div.export{
    padding: 0;
  }
  .el-message-box{
    width: 90%;
  }
  .el-tree{
    width: 100vw;
  }
  .el-form--label-top .el-form-item__label{
    padding-bottom: 0;
  }
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
    margin-bottom: 10px;
  }
  .el-checkbox{
    margin-left: 10px;
  }
  .el-checkbox+.el-checkbox{
    margin-left: 10px;
  }
  .el-radio{
    margin-left: 10px;
    margin-top: 4px;
  }
  .el-radio+.el-radio{
    margin-left: 10px;
  }
  .el-table{
    .el-button{
      margin-left: 3px !important;
    }
    .el-button+.el-button{
      margin-top: 3px;
    }
  }
  .el-radio-button--small .el-radio-button__inner{
    padding: 9px 5px;
  }
  .mycus-detail{
    .search-phone{
      max-width: calc(~"(100% - 68px)") !important;
    }
  }
}
